.banniere img {
    width: 100%;
    object-fit: cover;
}

.menu {
    background-color: $bc-restaurants;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: -60px;
    border-radius: 50px 50px 0 0;
    position: relative;


    &__titre {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 31px 17px 0 4px;
    }

    &__titre h1 {
        font-family: "Shrikhand",
    }

    & .heart{
        font-size: 26px;
        cursor: pointer;

        & .fa-regular {
            position: absolute;
            z-index: 2;

            &:hover {
                color: transparent;
            }

            &:hover + .fa-solid {
                opacity: 1;
                transform: scale(1);
                transition: transform 50ms;
            }
        }

        & .fa-solid {
            background: linear-gradient(1deg, #ff79da, #9356dc);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transform: scale(0);
            transform-origin: center;
        }
    }

    & h3 {
        border-bottom: solid 3px #99e2d0;
        width: 12%;
    }

    & p {
        font-size: small;
    }

    &__repas {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__repas--carte{
        display: flex;
        width: 100%;
        background-color: $bc-header;
        border-radius: 15px;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
        align-items: center;
        
        & .infoprix {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 15px;
            overflow: hidden;
        }
        
        & .info {
           display: flex;
           flex-direction: column;
           gap: 5px;
           white-space: nowrap;
           overflow: hidden;
           text-overflow: ellipsis;
            
            & h4, p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
        }

        & .prix {
            align-self: flex-end;
        }

        & .valid {
            color: white;
            background-color: #99e2d0;
            padding: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 15px 15px 0;
            font-size: 25px;
            margin-right: -70px;
            overflow: hidden;
            transition-duration: 0.6s;
        }

        &:hover > .valid{
            margin-right: 0px;
        }
        // ">" est l'opérateur qui indique de sélectionner uniquement les éléments enfants directs.
    }
}



.bouton {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: $bc-restaurants;

    & button {
        border-radius: 25px;
        background: linear-gradient(175deg, #ff79da, #9356dc);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border: none;
        color: $txt-button;
        height: 50px;
        width: 186px;
        font-size: 16px;

        &:hover {
            opacity: 0.8;
            transition: opacity 1s;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.65);
            transition: box-shadow 1s;
        }
    }
}


