body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  display: flex;
  justify-content: center;
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .fa-arrow-right {
  font-size: x-large;
  position: absolute;
  left: 17px;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 767.98px) {
  header {
    position: unset;
    padding: 30px 0px 32px 0px;
  }
}
header img {
  padding: 0px 19px 0px 16px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  color: #353535;
}
.localisation input {
  border: none;
  background-color: transparent;
  color: #353535;
  font-size: 16px;
  width: 135px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 20px 0 50px 0;
}
.explorer h3 {
  color: #353535;
  font-weight: 300;
}
.explorer button {
  border-radius: 25px;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #FFFFFF;
  height: 50px;
  width: 218px;
  font-size: 16px;
}
.explorer button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 1s;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.65);
  transition: box-shadow 1s;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0 50px 0;
  background-color: #FFFFFF;
}
.fonctionnement h1 {
  padding: 0 0 0 20px;
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    padding: 50px 180px;
  }
}
.fonctionnement__rectangle {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 0 32px;
}
@media screen and (min-width: 767.98px) {
  .fonctionnement__rectangle {
    flex-direction: row;
    gap: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement__rectangle {
    padding: 0 50px 0 32px;
  }
}
.fonctionnement__rectangle--number {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 72px;
  border-radius: 20px;
}
@media screen and (min-width: 767.98px) {
  .fonctionnement__rectangle--number {
    width: 100%;
  }
}
.fonctionnement__rectangle--number .number {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}
.fonctionnement__rectangle--number .fa-fonctionnement {
  color: #7E7E7E;
}
.fonctionnement__rectangle--number:hover .fa-fonctionnement {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0 50px 0;
  background-color: #F6F6F6;
}
.restaurants h1 {
  padding: 0 0 0 20px;
}
@media screen and (min-width: 1440px) {
  .restaurants {
    padding: 30px 180px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 20px;
}
@media screen and (min-width: 767.98px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .cards {
    gap: 50px 100px;
  }
}
.cards__single {
  height: 251px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.cards__single img {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.cards__single .nouveau {
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}
.cards__single--info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0 15px;
}
.cards__single--info .heart {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 26px;
  cursor: pointer;
}
.cards__single--info .heart .fa-regular {
  position: absolute;
  z-index: 2;
}
.cards__single--info .heart .fa-regular:hover {
  color: transparent;
}
.cards__single--info .heart .fa-regular:hover + .fa-solid {
  opacity: 1;
  transform: scale(1);
  transition: transform 50ms;
}
.cards__single--info .heart .fa-solid {
  background: linear-gradient(1deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transform-origin: center;
}

.footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
@media screen and (min-width: 767.98px) {
  .footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 30px 25px;
    gap: 80px;
  }
}
.footer__logo {
  color: #FFFFFF;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 767.98px) {
  .footer__link {
    flex-direction: row;
    gap: 30px;
  }
}
.footer__link--flex {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 767.98px) {
  .footer__link--flex {
    flex-direction: row;
  }
}
.footer__link--text {
  color: #FFFFFF;
  font-size: 16px;
}
.footer .fas {
  width: 20px;
}

/*# sourceMappingURL=main.css.map */
