@mixin coeur {
        & .fa-regular {
            position: absolute;
            z-index: 2;

            &:hover {
                color: transparent;
            }

            &:hover + .fa-solid {
                opacity: 1;
                transform: scale(1);
                transition: transform 1s;
            }
        }

        & .fa-solid {
            background: linear-gradient(1deg, $secondaire, $primaire);
            background-clip: text; //fait en sorte que le dégradé linéaire défini ci-dessus soit limité au texte de l'élément "fa-solid"
            -webkit-background-clip: text; //spécifie également la même propriété pour les navigateurs WebKit 
            color: transparent;
            transform: scale(0);
            transform-origin: center;
        }
}


@mixin progressif {
    .carte-1 {
        animation: carte-animation 1s;
      }
      
      .carte-2 {
        animation: carte-animation 1.5s;
      }
      
      .carte-3 {
        animation: carte-animation 2s;
      }
      
      .carte-4 {
        animation: carte-animation 2.5s;
      }
      
      @keyframes carte-animation {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
    }
}