$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$bc-header:#FFFFFF;
$txt-color:#000000;
$icon-map: #353535;
$txt-explorer: #353535;
$txt-button: #FFFFFF;
$bc-localisation: #EAEAEA;
$bc-fonctionnement: #FFFFFF;
$bc-numbercards: #F6F6F6;
$bc-restaurants: #F6F6F6;
$txt-new: #008766;
$bc-footer: #353535;
$txt-footer: #FFFFFF;