.fonctionnement {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0 50px 0;
    background-color: $bc-fonctionnement;

    &__rectangle {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__rectangle--number {
        display: flex;
        flex-direction: row;
        background-color: $bc-numbercards;
        height: 72px;
        border-radius: 20px;

        

    }
}